#nav {
	top: 0;
	left: 0;
	width: 100%;
}
.navbar {
	background: #000 url("../img/denim.png");
	border-radius: 0;
	box-shadow: 0 0 12px #000;
	margin-bottom: 0;
	z-index: 1;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
	color: #CCCCCC;
}
.navbar-nav>li:hover {
	background-color: #0A0A0A;
}
.navbar .divider-vertical {
    height: 50px;
    margin: 0 16px 0 0;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}
.navbar-inverse .divider-vertical {
    border-right-color: #222;
    border-left-color: #000;
}
@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}
.affix {
	top: 0;
	width: 100%;
}

.top-wallpaper {
	width: 100%;
	height: calc(100vh);
	font-size: 26px;
	text-align: center;
	background: #000 url("../img/future-car-01-titled.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
.top-wallpaper .info {
	position: absolute;
	right: 24px;
	top: 20px;
	font-size: 26px;
	color: #222;
	text-shadow: 0 0 1px #222;
	cursor: pointer;
}
.top-wallpaper .info-offset{
	top: 60px;
}
.popover {
	width: 220px;
	position: fixed;
	z-index: -1;
}
.pop {
	outline: none;
}

body {
  min-height: 2000px;
  position: relative;
  background: #EEE;
  font-family: Lato;
}
body .content {
	background: #EEE;
	z-index: -1;
}
body .color-bg-1 {
	background: #c41c1c url("../img/denim.png");
	color: #FAFAFA;
	text-shadow: 0 -1px #204a6d;
}
body .color-bg-2 {
	background: #FFF url("../img/denim.png");
	box-shadow: inset 0 0 10px #000;
	text-shadow: 0 1px #FFF;
}
body .anchor{
	display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
body .box-content {
	padding: 100px 10% 100px 10%;
}

.footer {
	background: #111 url("../img/denim.png");
	box-shadow: inset 0 0 10px #000;
	position: relative;
	color: #EEE;
	font-size: 14px;
	text-shadow:  0 -1px 0 #000;
}
.footer table {
	width: 100%;
}
.footer .imgBg {
	width: 40%;
	margin: 10%;
}
.footer .separator-td {
	width: 1%;
}
.footer .separator {
	width: 2px;
	border-left: 1px solid #303030;
	border-right: 1px solid #050505;
	height: 70%;
	position: absolute;
	top: 15%;
}
.footer .box {
	margin: 40px auto 40px 5%;
}

.copy {
	text-align: center;
	color: #E0E0E0;
	background: #0A0A0A;
	padding: 1px 0 2px 0;
}
.copy a {
	color: #FFF;
	text-decoration: none;
}
