* {
	margin: 0;
	padding: 0;
}
html, table {
	height: 100%;
}

/* BODY */

body {
	background: #EEE;
	font-family: Lato;
	overflow: hidden;
	height: 100%;
}
body #caneva {
	margin: 0 0 0 100%;
	background: #EEE;
}
body .content { 
	width: 560px;
	height: 80%;
	overflow: auto;
	margin: 0 50px;
	padding: 0 10px;
}

/* NAV */

nav {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 180px;
	width: 15%;
	height: 100%;
	color: #EEE;
	background: #222;
}
nav .title {
	padding: 14px 8px;
	font-size: 15px;
}
nav .title a {
	display: inline;
	padding: 0;
}
nav .title a:hover, nav .title a:focus {
	text-decoration: none;
	background: #222;
}
nav hr {
	border-top: 1px solid #1A1A1A;
	margin: 0;
}
nav li {
	width: 100%;
}
nav li a {
	display: block;
	padding: 10px 8px;
	color: #EEE;
	text-decoration: none;
	text-transform: uppercase;
}
nav li a:hover, nav li a:focus {
	color: #EEE;
	text-decoration: none;
	background: #1A1A1A;
	cursor: pointer;
}

/* HOME */

.home {
	width: 100%;
	height: calc(100vh);
	background: #EEE url("../img/future-car-01-titled.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
.info {
	position: fixed;
	right: 24px;
	top: 20px;
	font-size: 24px;
	color: #222;
	text-shadow: 0 0 1px #222;
	cursor: pointer;
	z-index: 2;
}
.info-offset{
	right: 64px;
}
.popover {
	width: 220px;
	position: fixed;
	z-index: 2;
	font-size: 12px;
}
.pop {
	outline: none;
}